@import '../mixins/main-mixins';
html,
body {
    margin: 0px;
    width:100vw;
    height:100vh;
    padding: 0px;
}
i {
    vertical-align: middle;
    margin-right: 5px;
}
.box-shadow {
    @include boxShadow(4px, 4px, 3.5px, 1px, black)
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.pull-right {float: right !important};
.pull-left {float: left !important};
.hand:hover {
    cursor: move;
}