<nav class="navbar navbar-expand-sm navbar-dark animation-slide-in-left nav-color">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link " href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>
      <div class="btn-group">
        <button class="btn btn-primary login-btn" type="button">
           Login
        </button>
        <button  type="button" class="btn btn-primary login-btn">
          Logout
        </button>
      </div>
    
  </div>
</nav>

