<aside class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      
      <a [routerLink]="['']" class="mdc-list-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
        <span class="mdc-list-item__text">Dashboard</span>
      </a>
      <a [routerLink]="['station']" class="mdc-list-item mdc-list-item--activated" aria-current="page">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
        <span class="mdc-list-item__text">Stations</span>
      </a>
      <a (click)="logout()" class="mdc-list-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
        <span class="mdc-list-item__text">Logout</span>
      </a>
    </nav>
  </div>
</aside>